[2017-07-07 14:52] nsmolenski opened #1 "Topic Paper: Owned vs. Unowned Claims and Self-Sovereign Identity"
[Owned vs Unowned Claims.docx](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust-fall2017/files/1131319/Owned.vs.Unowned.Claims.docx)

[2017-07-10 21:42] kimdhamilton commented on #1
added in PR #3

[2017-07-15 22:59] kimdhamilton opened #5 "Using Script as a signature system like P2SH does"
_From @ChristopherA on June 30, 2017 19:27_

In a sense, we could use the method that P2SH uses in bitcoin as a new signature system type for DDOs and Verified claims. Basically the scriptPubKey is the pubkey, and the scriptSig is the private key. This would require us to re-package bitcoins script https://github.com/bitcoin/bitcoin/blob/master/src/script/sign.h to instantiate a new BaseSignatureC

[2017-07-15 22:59] kimdhamilton commented on #5
TODO: Move to issue on rebooting

[2017-07-15 23:02] kimdhamilton opened #6 "Schnorr Futures"
_From @ChristopherA on June 30, 2017 21:58_

At some point we'll want to move from koblitz ECDSA signatures to koblitz Schnorr signatures. This will offer some huge advantages long term.

Note however, unlike ECDSA you can't recover a Schnorr public key from a Schnorr signature. This means you have to get the public key from either the data structure, or from some other source.

We need to be sure

[2017-07-15 23:02] kimdhamilton commented on #6
move to RWoT

[2017-07-15 23:02] kimdhamilton opened #7 "Multisig Futures with BTCR"
_From @ChristopherA on June 30, 2017 21:50_

There are some interesting future scenarios for use of multisig in BTCR.

The easiest is revocation. If the tip is a multisig address, for instance a 2 of 5, I could give my 5 closest colleagues the right to revoke my DID if at least 2 notice misbehavior of my account and move the unspent funds on the tip off. They can post a revocation reason (see #5)

[2017-07-15 23:02] kimdhamilton commented on #7
TODO: move to RWoT

[2017-07-15 23:05] kimdhamilton opened #8 "Consequences of TX1, BTCR, LTCR, and BLST as Methods"
_From @ChristopherA on July 9, 2017 23:11_

I've come to the realization that both @veleslavs & @jonasschnelli's proposal at #24 and the original DID:BTCR proposal are all basically different methods, which the top level DID spec specifically encourages and supports.

If we do one for Lightcoin as well (LTCR? TX2?) and if Blockstack (BLST? cc: @muneeb-ali @shea256  ) also joins us, this means that

[2017-07-15 23:05] kimdhamilton commented on #8
_From @ChristopherA on July 9, 2017 23:18_

@veleslavs I was going to add an issue to your BIP proposal at https://github.com/veleslavs/bips/blob/Bech32_Encoded_TxRef/bip-XXXX-Bech32_Encoded_Transaction_Postion_References.mediawiki but issues are not allowed there.

What I wanted to propose was that you move the `tx1-` completely out of that BIP, and instead move it to you other BIP at https://git

[2017-07-15 23:05] kimdhamilton commented on #8
_From @veleslavs on July 10, 2017 4:24_

@ChristopherA Thank you for your feedback;
I've enabled issues on my GitHub Repository; however I think that this issue in particular may be best suited for comment on the PullRequest for the BIP:

https://github.com/bitcoin/bips/pull/555

About Litecoin and other Blockchains; we have a dedicated field within the TxRef format for different blockchains; one

[2017-07-15 23:05] kimdhamilton commented on #8
_From @veleslavs on July 10, 2017 4:24_

Please re-ask your question on the Pull Request; I will formulate a more complete reply there.

[2017-07-15 23:05] kimdhamilton commented on #8
move to RWoT

[2017-07-15 23:06] kimdhamilton opened #9 "Pre-Draft Feedback on WoT Enrolment Transaction BIP"
_From @veleslavs on July 9, 2017 12:29_

Myself and @jonasschnelli have been brainstorming and working in private about a proposed Identity Enrolment Transaction for Bitcoin (and other comparable blockchains).

https://github.com/veleslavs/bips/blob/wip/bip-XXXX-Revocable_Public_Key_Enrolment_Transaction_with_Optional_Cost.mediawiki

We would certainly welcome more pre-draft feedback on this work-

[2017-07-15 23:06] kimdhamilton commented on #9
_From @ChristopherA on July 9, 2017 19:36_

@veleslavs @jonasschnelli

Thank you for sharing this — I appreciate the proposal! It is quite possible we should implement an approach in this directly instead of our own.

One hope that we had with DID:BTCR was that we would not only be able to revoke, but alternatively rotate the old public key to a new one, rather than the only choice being to revoke

[2017-07-15 23:06] kimdhamilton commented on #9
Move to RWoT. Create TX1 method

[2017-07-15 23:07] kimdhamilton opened #10 "JSON-LD Canonicalization Javascript or Web Service?"
_From @ChristopherA on July 8, 2017 3:14_

There are currently a limited number of libraries for canonicalizing JSON-LD. In particular, for prototyping some DID tools as shell and/or C commands, we can do JSON, RPC and do bitcoin signing but we can't canonicalize it.

I'd like to see a standalone Javascript page and/or RPC web service that you can download locally to your computer that can:

* giv

[2017-07-15 23:07] kimdhamilton commented on #10
_From @ChristopherA on July 8, 2017 3:16_

Thinking about this further, if this web page or service could also do the bech32 txid <-> txref conversions, and recover a public key from a signature or a the JSON of a rawtransaction, that would be useful.

[2017-07-15 23:07] kimdhamilton commented on #10
Move to RWoT

[2017-07-15 23:07] kimdhamilton commented on #10
Service for languages that don't have json-ld libraries

[2017-07-15 23:07] kimdhamilton opened #11 "Encoding of Koblitz Public Key"
_From @ChristopherA on June 30, 2017 21:35_

It doesn't appear that there is any standard yet for encoding of a koblitz curve public key (i.e. the secp256k1 curve).

There is a proposal of base58 prefix of 4 for compact Bitcoin public keys (see https://en.bitcoin.it/wiki/Base58Check_encoding ), but as far as I know no one uses that.

Bech32 is superior to base58 in a variety of ways, may be we sho

[2017-07-15 23:07] kimdhamilton commented on #11
_From @jonasschnelli on July 1, 2017 5:29_

I guess the quasi standard for pubkey is hex representation. The length will define if it's compressed or not.
It's not ideal but works.

Libbtc can work with hex pubkeys (as well as bitcoind).

The libbtc tool (as well as the C API) can do hex pubkey/bip32/privkey operations.

However, private keys have a base58 check standard (WIF).
Ideally, we form a

[2017-07-15 23:07] kimdhamilton commented on #11
_From @ChristopherA on July 8, 2017 4:23_

@jonas I guess I dislike hex encoded public keys. I like how in the 25519 based app minilock you can share it easily for file sharing (mine is at 7rXYBKi1Xf9g9nupb9f8u6MHbobEJCMK3r3sChjN5RmGN and I shared it on Twitter at https://twitter.com/ChristopherA/status/634466769311105024).

Now normally for the twitter case you wouldn't share your public key verb

[2017-07-15 23:07] kimdhamilton commented on #11
TODO: RWoT repo

[2017-07-15 23:08] kimdhamilton opened #12 "Challenges in Understanding Spectrum of Integrity/Inspection/Validation/Verification/Confirmation/Revocation"
_From @ChristopherA on July 12, 2017 0:7_

(this is a pre-draft of a post to be an issue on https://github.com/w3c/vc-data-model/issues/ or possibly added to https://github.com/w3c/vc-data-model/issues/58 once it is more thought out)

As evidenced by the failure of polling in the W3C Verifiable Claims WG last week on the name of the role of Validator vs. Inspector, and the lively discussion in the

[2017-07-15 23:08] kimdhamilton commented on #12
_From @ChristopherA on July 12, 2017 0:24_

BTW, the logic of my ordering of these different spectrum words started with the name of the working group, Verifiable Claims.

- INTEGRITY CHECK includes malformation and cryptographic signature or proof checks - this is defined by the signature system spec
- INSPECT INTO means looking inside for something and then going outside to get it — this is defi

[2017-07-15 23:08] kimdhamilton commented on #12
_From @ChristopherA on July 12, 2017 1:27_

The topic of revocation will be much harder to define — in fact, we probably need as many stages and roles for it alone as the above has about the spectrum from integrity to confirmation.

What they all the forms of revocation have in common is to help us with deal with the edge cases when things can go wrong.

The simplest case should be expiration. How

[2017-07-15 23:08] kimdhamilton commented on #12
_From @ChristopherA on July 12, 2017 2:15_

In our user story of **Alice**, the Syrian Hacker Army is targeting her as the author of an Android app that helps Syrian refugees communicate with the families back home and send them care packages through a random peer-to-peer network of people sharing their car trunk capacity. An Uber of small gifts, an AirBNB of trunk space.

**Alice** has been caref

[2017-07-15 23:08] kimdhamilton commented on #12
_From @ChristopherA on July 12, 2017 2:18_

A reminder: there will likely in time be other specific techniques for doing revocation, see #2 and #25.

[2017-07-15 23:08] kimdhamilton commented on #12
_From @ChristopherA on July 12, 2017 2:20_

A question for @jandrieu: I know that you like to keep your 15 step use cases to be technology-agnostic, but what steps in your model am I missing from the above?

I'd love to get from our graphic facilitators a little graphic image based on the stories above for each of your 15 steps, and present those 15 steps and how they work with the current BTCR co

[2017-07-15 23:08] kimdhamilton commented on #12
_From @jandrieu on July 12, 2017 3:8_

@ChristopherA I'll dive into the mapping to 15 steps later tonight, but I wanted to suggest a distinction that I hope will help reduce the complexity of revocations.

Without some sort of general knowledge engine, aka, AI, we can never algorithmically know if any given statement is true or justified or appropriate. We may be able to tell if it is intended as

[2017-07-15 23:08] kimdhamilton commented on #12
_From @jandrieu on July 12, 2017 16:48_

After sleeping on it, I think we also need to bring up the update/amend techniques. I raised this a year ago in the VCTF, but didn't get traction on it.

However, if DIDs are specifically designed to enable updating DDOs without changing the URL (and they are), and if DDOs are verifiable claims (and that has been proposed), then we are explicitly building a

[2017-07-15 23:08] kimdhamilton commented on #12
_From @dlongley on July 12, 2017 17:25_

In my view, I don't think DDOs should be claims, but rather, they may embed (or link to) credentials that contain claims.

When dereferencing a DID, you get a DDO, which is a document that contains a graph (or RDF dataset) where the main node in the graph lists relationships (RDF predicates) between the entity the DID identifies and other nodes or literals.

[2017-07-15 23:08] kimdhamilton commented on #12
_From @jandrieu on July 14, 2017 18:44_

That sounds right, @dlongley

[2017-07-15 23:16] kimdhamilton opened #13 "Core Use Case?"
_From @ChristopherA on June 30, 2017 7:49_

My vision for the core Use Case for DID:BTCR is at https://github.com/w3c/vc-use-cases/issues/31 — I encourage everyone to read it. I'd also love to continue to work with @jandrieu on moving the use case forward toward his full 15-step model that he did for Jorum during our hackathon if he is up for it. Maybe Natalie could help? @kimdhamilton?

_Copied f

[2017-07-15 23:16] kimdhamilton commented on #13
tagging @nsmolenski

[2017-07-15 23:16] kimdhamilton commented on #13
_From @nsmolenski on July 3, 2017 15:52_

Happy to help how I can! Just let me know.

[2017-07-15 23:16] kimdhamilton commented on #13
_From @ChristopherA on July 9, 2017 20:13_

I've posted the basic #RebootingWebOfTrust user story to  this repository as [RWOT-User-Story.md](https://github.com/WebOfTrustInfo/btcr-hackathon/blob/master/RWOT-User-Story.md) — @jandrieu & @nsmolenski can hopefully take it from there to do a more formal use case [Joram](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust-fall2016/blob/master

[2017-07-15 23:18] kimdhamilton opened #14 "Key Reuse Recommendations?"
_From @ChristopherA on June 30, 2017 19:10_

Ideally, based on bitcoin principles, a key pair is only used twice — the first time only locally to create the hash that become the address, and one last time when the public key is revealed as part the signature of a transaction moving the funds to a new address.

This in DID:BTCR we should try to approach this ideal. If you use a DDO, you can only us

[2017-07-15 23:18] kimdhamilton opened #15 "Censorship Resistance of Revocation"
_From @ChristopherA on July 9, 2017 22:44_

Related to #3 "Censorship Resistance in OP_RETURN Transactions", as per @sipa's comment https://github.com/WebOfTrustInfo/btcr-hackathon/issues/2#issuecomment-313952263 we also want to have as goal to have censorship resistance for the revocation transaction.

    You want censorship resistance for the revocation, not the publishing. If you're being

[2017-07-15 23:18] kimdhamilton commented on #15
_From @ChristopherA on July 10, 2017 0:8_

See also @petertodd's comments in https://github.com/WebOfTrustInfo/btcr-hackathon/issues/2#issuecomment-313974367

[2017-07-15 23:18] kimdhamilton commented on #15
_From @rxgrant on July 10, 2017 2:6_

If we were going to invert the responsibilities for discovering the communication resources that DDOs describe (i.e. "service endpoints": names + protocols + IPaddrs), and were instead going to use DIDs merely for verifying signatures, then we could consider pay-to-contract options that offer higher censorship resistance.  We can leave this choice to each DID

[2017-07-15 23:22] kimdhamilton opened #16 "Censorship of OP_RETURN Transactions"
_From @ChristopherA on June 30, 2017 6:51_

It has been raised by @petertodd and others that using an op_return to encode the pointer to the DDO could hurt censorship resistance, as minors could identify those transactions that are DID related and not include them.

Instead, they recommend encoding it into the script of a P2SH transaction as some form of pay-to-contract. However, I still don't hav

[2017-07-15 23:22] kimdhamilton commented on #16
_From @petertodd on July 12, 2017 21:33_

@apoelstra Submitted a pull-req to python-opentimestamps for pay-to-contract-hash that I'll be implementing sometime in august: https://github.com/opentimestamps/python-opentimestamps/pull/14

For now I'd just stick with op-return, but assume something else will be added in the future. You can easily disambiguate this stuff by pre-committing to which metho

[2017-07-15 23:22] kimdhamilton opened #17 "UTXO and Blockchain Bloat"
_From @ChristopherA on June 30, 2017 6:57_

I know that @lukejr and others will complain that DIDs have the potential to bloat the blockchain and UTXO mempool, as each DID:BTCR will have to have at least one unspent output.

For know I propose that we acknowledge this objection and keep it on our issue list. We will recommend P2WPKH over P2PKH so that witness data and op_return data can easily by

[2017-07-15 23:22] kimdhamilton commented on #17
_From @ChristopherA on July 8, 2017 3:23_

As @sipa said in https://github.com/WebOfTrustInfo/btcr-hackathon/issues/2#issuecomment-313828096

    Please don't abuse the UTXO set as key revocation storage :(

What I said in my reply to @sipa's comment was:

    @sipa, @petertodd had some ideas about how we can minimize that in the future.
     I'm not sure it will go to zero, but much reduced. He h

[2017-07-15 23:22] kimdhamilton commented on #17
_From @rxgrant on July 10, 2017 10:11_

It's easy to imagine a sidechain that manages DID update access for many identities at the cost of a single Bitcoin UTXO, along with reliance on an external data store to retrieve the actual keys.

Part of our messaging could take the experimental nature of this blockchain integration into account.

[2017-07-15 23:22] kimdhamilton commented on #17
_From @petertodd on July 12, 2017 21:30_

@rxgrant Remember that such a sidechain has a censorship risk; you'd at least want a backup method of revocation via publishing in another medium, such as Bitcoin itself.

[2017-07-15 23:23] kimdhamilton opened #18 "Bech32 of Transaction as DID"
_From @ChristopherA on June 30, 2017 6:44_

I really like idea of using a bech32 encoded DID:BTCR as @sipa did some amazing work investing a good error detecting AND correcting encoding algorithm.  https://github.com/sipa/bech32

@veleslavs & @jonasschnelli's proposal for encoding the transaction index and block number also make great sense, and I like that the magic values can be used to identify

[2017-07-15 23:23] kimdhamilton commented on #18
_From @jonasschnelli on June 30, 2017 7:55_

Yes. It's currently in the "discussion-phase", although, there was not a single response (AFAIK) on the mailing list.

There is a 5-bit magic (https://github.com/veleslavs/bips/blob/Bech32_Encoded_TxRef/bip-XXXX-Bech32_Encoded_Transaction_Postion_References.mediawiki#reserved-values) that should allow some other blockchains.

The "Bech32 Encoded Transac

[2017-07-15 23:23] kimdhamilton commented on #18
_From @ChristopherA on July 8, 2017 2:28_

@jonasschnelli Your example above:

    "tx1-rk63-uvxf-9pqc-sy" is my official communication key reference (after the BIP
    above). It's a revokable pubkey and it allows anyone to establish a secure connection
     (the initial setup at least).

This is EXACTLY what DIDs are for! Bootstrapping into a secure setup with another party. There is actually a

[2017-07-15 23:23] kimdhamilton commented on #18
_From @sipa on July 8, 2017 2:32_

Please don't abuse the UTXO set as key revocation storage :(

[2017-07-15 23:23] kimdhamilton commented on #18
_From @ChristopherA on July 8, 2017 2:45_

@sipa, @petertodd had some ideas about how we can minimize that in the future. I'm not sure it will go to zero, but much reduced. He hasn't published his technique yet but I presume it will also be similar to one he is working on for #opentimestamps

For now we are trying to get a prototypes functioning, but your concern is valid and been noted for some t

[2017-07-15 23:23] kimdhamilton commented on #18
_From @veleslavs on July 9, 2017 12:19_

@sipa one of the core benefits of using the blockchain for identity enrolment is the ability to use proof-of-burn; and proof-of-burn absolutely is not an 'abuse' of blockchain space.  Bitcoin has natural anti-ddos preterites that users, quite legitimately, wish to make use of. One of these uses is WoT.

On revocation, revocations are indeed a natural utilit

[2017-07-15 23:23] kimdhamilton commented on #18
_From @veleslavs on July 9, 2017 12:37_

@ChristopherA A pull request for our Bech32 encoding of Transaction References has been opened: https://github.com/bitcoin/bips/pull/555

No number has been assigned as of yet.

[2017-07-15 23:23] kimdhamilton commented on #18
_From @sipa on July 9, 2017 16:35_

@veleslavs Well, it just doesn't scale. You can't expect there to exist an unspent UTXO for every human in the world (or any meaningful subset thereof). Don't start off building technology that will be unusable before it reaches any sizable goal.

Let's agree to disagree then. Also, you're not just using block space, but UTXO space which is far more precious and

[2017-07-15 23:23] kimdhamilton commented on #18
_From @jonasschnelli on July 9, 2017 18:28_

I guess the whole WOT layer is currently in experimenting phase. I'd say let them try out things.

Wouldn't the same argument be true for Bitcoin as a payment system (at least back in 2009)?

[2017-07-15 23:23] kimdhamilton commented on #18
_From @sipa on July 9, 2017 18:30_

Even in 2009, the assumption wasn't that every payment would happen on chain (see early writeups on payment channels, etc).

[2017-07-15 23:23] kimdhamilton commented on #18
_From @ChristopherA on July 9, 2017 18:55_

@sipa, @jonasschnelli @veleslavs — an interesting point of the DID (Decentralized IDentifier) approach is that a Bitcoin DID doesn't have to scale for all the humans in the world. Instead there can be many DID methods, each which can have different requirements. There are already two different DIDs  with different properties proposed for Ethereum (the bi

[2017-07-15 23:23] kimdhamilton commented on #18
_From @ChristopherA on July 9, 2017 19:1_

@sipa, @jonasschnelli, @veleslavs — for an example of an identity focused bitcoin-style sidechain, see http://www.truthcoin.info/blog/codex-identity-sidechain/ by Paul Sztorc (@truthcoin) — he is the creator of drive chain and is a member of the #RebootingWebOfTrust community. That proposal is only a napkin concept, but my point is that as L2 solutions em

[2017-07-15 23:23] kimdhamilton commented on #18
_From @sipa on July 9, 2017 19:1_

Why for example not point to an input that via sign-to-contract commits to the identity and a revocation key, and say that if any later transaction input that signs with the revocation key appears, it is to be considered revoked?

That consumes less block space, is more flexible (only depends on inputs, not whole transactions in a specific format), makes the tran

[2017-07-15 23:23] kimdhamilton commented on #18
_From @ChristopherA on July 9, 2017 19:9_

@sipa - Can you write up with just a little more detail what that looks like? A napkin skech?  I've been trying to get @petertodd to write up his similar thoughts for 9 months. For instance, how does one search for that later transaction that revokes using a light client?

@jonasschnelli — Or maybe you grok better what @sipa is proposing? What was your ap

[2017-07-15 23:23] kimdhamilton commented on #18
_From @sipa on July 9, 2017 19:17_

To register an identity, spend any transaction output (for which you have the key), using a sign-to-contract signature. That is a normal, valid, ECDSA signature that is indistinguishable from a normal one. However, it can be proven to commit to some data (which in this case has same function as the "Signing Data" + a revocation scriptPubkey).

To refer to an ide

[2017-07-15 23:23] kimdhamilton commented on #18
_From @sipa on July 9, 2017 19:24_

Actually, why does the identity establishment need to go in the chain in the first place? Just tell people "My identity key is X, if you ever see a spend on the chain that uses some_derivation_function(X), it is revoked"?

[2017-07-15 23:23] kimdhamilton commented on #18
_From @jonasschnelli on July 9, 2017 19:31_

In general I agree with @sipa about the censorship problem and the fact that UTXO "spam" (OP_RETURN) is not scalable. The sign-to-contract signature sound promising (need to have a closer look).

I haven't really took a close look into revocation (I'm more following this WOT topic in a low-prio manner) but I kinda liked that with the tx-ref id (like my

[2017-07-15 23:23] kimdhamilton commented on #18
_From @sipa on July 9, 2017 19:39_

So the only reason to store the registration on the chain is so that you can have a _short identifier_ ?

That sounds ridiculous to me. You're introducing a costly and censorship-enabling step to your protocol just so the string you have to pass to someone else is a few characters shorter?

[2017-07-15 23:23] kimdhamilton commented on #18
_From @ChristopherA on July 9, 2017 19:42_

I would love to figure out a way to address @sipa's concerns and find a way to use sign-to-contract, integrate it with @veleslavs's @jonasschnelli's  thoughts proposed in #24, and somehow find a way to do rotation and a DDO pointer. If we can do this, not only can it be a useful BIP, but I'd be willing to drop my BTCR prototype idea and move to making di

[2017-07-15 23:23] kimdhamilton commented on #18
_From @jonasschnelli on July 9, 2017 19:54_

As you know, I often look from an angel where usability is important and I think a few characters matter for an identity system. IMO, a short ~identifier (like a phone-number) is a key-feature how to attract users who are familiar with centralised systems.

@sipa: I agree with you on the censorship-enabling problem.

I guess some of the desired properti

[2017-07-15 23:23] kimdhamilton commented on #18
_From @sipa on July 9, 2017 19:58_

Short identifiers are fundamentally incompatible with censorship resistance, I believe (my sign-to-contract idea above does not support it, as you need to communicate the revocation key and s2c proof).

If you have a short identifier, which presumably means it cannot contain cryptographic material, it likely means that the registration (and revocation key/puzzle

[2017-07-15 23:23] kimdhamilton commented on #18
_From @ChristopherA on July 9, 2017 20:21_

This is why I like the idea of our DIDs just being a block number and a transaction id. If you want true censorship resistance that don't do an op_return (what we call a default DDO)  and use the first spent output as a revocation, then  this transaction indistinguishable from any other transaction. Clearly that causes UTXO bloat, and it can't be rotated

[2017-07-15 23:23] kimdhamilton commented on #18
_From @sipa on July 9, 2017 20:25_

@ChristopherA You want censorship resistance for the revocation, not the publishing. If you're being censored for registering, just don't start using the identity and try again. If your revocation is censored, your identity may have been stolen.

Regardless of how you encode things, if your identifier is short, it means that the revocation is detectable for ever

[2017-07-15 23:23] kimdhamilton commented on #18
_From @petertodd on July 10, 2017 0:2_

@sipa your comment "Regardless of how you encode things, if your identifier is short, it means that the revocation is detectable for everyone." is incorrect. The length of identifier is irrelevant to whether or not revocation is detectable by everyone.

First of all, regardless of whether the identifier is a cryptographically secure 256-bit commitment or som

[2017-07-15 23:23] kimdhamilton commented on #18
_From @ChristopherA on July 10, 2017 0:9_

See also my new issue on censorship resistance of revocation in #25

[2017-07-15 23:23] kimdhamilton commented on #18
_From @veleslavs on July 10, 2017 3:41_

@sipa thank you for you prompt reply.  I would like to (hopefully) address both the concerns of scaling that you brought up.

I can completely agree in the case that Bitcoin was the only blockchain in the world; however the case is that there are many blockchains with significantly differing security and data costs involved. - This gives users a choice if t

[2017-07-15 23:23] kimdhamilton commented on #18
_From @veleslavs on July 10, 2017 4:1_

I don't get the particular concern about censoring ID's on the blockchain.  ID's are enrolled virgin and have no political value until they are actually used for a political purpose. Once they have been successfully inserted and buried in the blockchain dose the censorship concern still stand?; I cannot see how censorship here can be a concern.

About revoca

[2017-07-15 23:23] kimdhamilton commented on #18
_From @veleslavs on July 10, 2017 4:12_

Myself and some of my friends have put a great-deal amount of work into designing a set-of-supporting infrastructures for supporting ID's; the WoT and it's associated distributed and decentralised data-structures.  However the work is in a form that is far-too-young to publish publicly yet.  When you dig into the decentralised WoT problem you quickly find i

[2017-07-15 23:23] kimdhamilton commented on #18
_From @ChristopherA on July 10, 2017 4:37_

@veleslavs Don't concern yourself that we are rushing. Even this purpose of this virtual  hackathon is to better inform us about the issues, which will prepare us for our next F2F in Boston in October. You'll see in our GitHub that we've been working on this hard since Pieter Wuille, Greg Maxwell, Peter Todd & others joined us for the first #RebootingWeb

[2017-07-15 23:23] kimdhamilton commented on #18
_From @narula on July 11, 2017 20:27_

@veleslavs gossiping to the network is not a long term solution.  The revocation must be stored somewhere so a future user can find it.  Where are you storing it?

[2017-07-15 23:23] kimdhamilton commented on #18
_From @veleslavs on July 13, 2017 13:8_

@narula the long term solution that I had proposed is that the revocation output is spent. With UTXO commitments this becomes very quick to lookup and verify.  The gossiping network is for new revocations.

However on a side note; having a indexing server for 7B+ ID's and revocations is not that unreasonable.  So the gossiping network in-itself with quite a

[2017-07-15 23:24] kimdhamilton opened #19 "Holds and Timelocks"
_From @ChristopherA on June 30, 2017 7:6_

Related to issue #5 it may be useful to have a "DID hold" op_return with a date, such that the DID is not considered revoked, but that it isn't valid yet. This way you can pre-publish a DID.

There also may be some useful tricks by adding to the P2PKH transaction a timelock.

_Copied from original issue: WebOfTrustInfo/btcr-hackathon#6_

[2017-07-15 23:24] kimdhamilton opened #20 "Revocation Reason Codes"
_From @ChristopherA on June 30, 2017 7:2_

The easiest way to revoke a DID is to just spend the previously unspent funds on the tip.

This technique was inspired by my revoke-ssl approach suggested in https://github.com/ChristopherA/revocable-self-signed-tls-certificates-hack and presented at  https://www.meetup.com/SF-Bitcoin-Devs/events/222712738/

In that proposal it was suggested that optional

[2017-07-15 23:24] kimdhamilton commented on #20
TODO: Ryan Grant is an assignee too

@xrgrant

[2017-07-16 19:34] kimdhamilton commented on #12
This issue was moved to w3c/vc-data-model#59

[2017-07-16 19:34] #12 closed

[2017-08-12 02:14] kimdhamilton opened #26 "Transaction ID as Position in Block?"
_From @ChristopherA on June 30, 2017 6:34_

Blockstack was the first to suggest that the DID an index of the transaction within a confirmed block, rather than the transaction ID. The advantage of this is that it is possible to have a transaction id that isn't confirmed, as it is only the hash of the transaction. The disadvantage of it is all of the bitcoin explorer APIs search on transaction id.

[2017-08-12 02:14] kimdhamilton commented on #26
_From @jonasschnelli on June 30, 2017 7:59_

Ideally block explorer support it. But I guess that will take a while.

**Much better is**, that you actually don't need a tx-indexed blockchain or blockexplorer to grab a Tx-Ref according to the [txref BIP](https://github.com/veleslavs/bips/blob/Bech32_Encoded_TxRef/bip-XXXX-Bech32_Encoded_Transaction_Postion_References.mediawiki#reserved-values).

You

[2017-08-12 02:14] kimdhamilton commented on #26
_From @ChristopherA on June 30, 2017 8:28_

@jonasschnelli Very cool ! I didn't quite connect that you didn't need a tx-indexed full node to grab one of your tx-refs!

I look forward to seeing your libbtc implementation of it. If you have it functioning by the start of our virtual hackathon on the week of July 10th, we'll likely base the C-version of our prototype code for DIDs using libbtc.

[2017-08-12 02:14] kimdhamilton commented on #26
_From @jonasschnelli on June 30, 2017 17:21_

I can add some things to give you a C toolset to worth with txref as well as with the block fetching... most things are already there. Should be done before July 10th.

[2017-08-12 02:14] kimdhamilton commented on #26
_From @ChristopherA on June 30, 2017 18:8_

@jonasschnelli — Thanks! That will be extremely helpful.

BTW, do you have any recommendations for a C library to aid in using JSON-RPC calls to bitcoind? @shannona and I have been using libbitcoinrpc for our tutorial (see drafts at https://github.com/ChristopherA/Learning-Bitcoin-from-the-Command-Line/blob/master/12_2_Accessing_Bitcoind_with_C.md & http

[2017-08-12 02:14] kimdhamilton commented on #26
_From @jonasschnelli on June 30, 2017 18:20_

Yeah. RPC / JSON is painful in plain C.
I came to the conclusion to only do the core stuff in C (hash / tx / blocks / bip32 / keys / ecdsa / ser-/deser / AES / CPRNG), things that can be use on embedded devices. JSON/RPC as well as the network layer make probably much more sense to do in C++(11).
C++11 is fully portable IMO (all modern smartphone opera

[2017-08-12 02:14] kimdhamilton commented on #26
We've decided this is a good approach. Close with summary/topic paper. Add links

Point to BIP PR, etc -- note final format may change

[2017-08-12 02:14] kimdhamilton commented on #26
Move to RWoT. Some elements not part of BIP may be suitable for W3C

[2017-08-12 02:14] kimdhamilton commented on #26
_From @ChristopherA on August 11, 2017 18:32_

A BIP number has been assigned, BIP 136, but the PR has not been accepted yet — they have asked non-bitcoin references to be deleted.

[2017-08-12 02:14] kimdhamilton opened #27 "Initial example Web-Of-Trust Verified Claims?"
_From @ChristopherA on June 30, 2017 7:46_

There was some discussion on this at https://github.com/w3c/vc-data-model/issues/32

I would love it if we at least be able by end of the hackathon be as good as PGP able be able to claim that Alice's pseudo-anonymous DID knows Bob's pseudo-anonymous ID (which is basically all that PGP does).

If we are also able to all one party to PROVE that the other

[2017-08-12 02:14] kimdhamilton commented on #27
_From @ChristopherA on June 30, 2017 19:58_

A potential start for a template of a DID:BTCR based verifiable claim. Still some real problems here…

[code]

[2017-08-12 02:14] kimdhamilton commented on #27
- needs claims accepted and claims issued (for DDO) (2 different variants inside)
- need issuer key section
- may require Dave Longley

entity linked data object

[2017-08-12 02:14] kimdhamilton commented on #27
- all keys in one section
- all proofs in one section

[2017-08-12 02:15] kimdhamilton opened #28 "Need to write DID:BTCR Best Practices vs Reasonable Practices Docs"
_From @ChristopherA on July 8, 2017 3:2_

At some point we need to write up some best practices vs reasonable practices documentation.

For instance, ideally you should treat your keys like you do with bitcoin — you use your root key to sign your transaction and immediately sign a few other objects with it (such as the DDO), and you never use it again. If you need ongoing signing keys, put them in

[2017-08-12 02:15] kimdhamilton commented on #28
_From @ChristopherA on July 11, 2017 21:55_

A first pass at some quick definitions:

* Reasonable Practices (see #32) — basically secure but not for truly pseudo-anonymous identities. Low cost in both establishing and maintaining identity in skills, $ and time.

* Pragmatic Practices — more secure for persistent pseudo-anonymous identities, but more to avoid attacks by black hats or corporate att

[2017-08-12 02:15] kimdhamilton commented on #28
assign to Christopher

[2017-08-12 02:15] kimdhamilton opened #29 "Types of Pointers to DDOs & URI Prefixes?"
_From @ChristopherA on June 30, 2017 7:15_

We would like multiple approaches in DID:BTCR to point to the DDO.

The first is simple — don't include an op_return at all. A DDO is constructed based on information from the transaction and the block the transaction is confirmed in. These include the control key (from the public key in the P2PKH script), the owner key (the hash of the future key that i

[2017-08-12 02:15] kimdhamilton commented on #29
@xrgrant

[2017-08-12 02:15] kimdhamilton commented on #29
solved 1&2, create new issues for Blockstack and IPNS

[2017-08-12 02:15] kimdhamilton commented on #29
also want txref to be a method

[2017-08-12 02:16] kimdhamilton opened #30 "Specify an tx-signed deterministic DDO"
_From @kimdhamilton on July 10, 2017 22:19_

Specify an tx-signed deterministic DDO, that conforms to DDO spec 1.0, and is not a verifiable claim.

_Copied from original issue: WebOfTrustInfo/btcr-hackathon#27_

[2017-08-12 02:16] kimdhamilton commented on #30
display in this format in playground

[2017-08-12 02:16] kimdhamilton commented on #30
remaining: data that can be in signature part

block proof
mentioned by Greg Maxwell (txref issues)
2 commands in Bitcoind that present a hash tree. Sufficient to verify a block

[2017-08-12 02:18] kimdhamilton opened #31 "BTCR intro documentation"
_From @kimdhamilton on July 10, 2017 22:49_

Ryan Grant gave a useful intro to DIDs and DDOs. We're going to write this up for review for broader sharing

_Copied from original issue: WebOfTrustInfo/btcr-hackathon#29_

[2017-08-12 02:18] kimdhamilton commented on #31
initial pass here: https://github.com/WebOfTrustInfo/btcr-hackathon/blob/master/docs/did_intro.md

[2017-08-12 02:19] kimdhamilton opened #32 "DDOs as Verifiable Claims"
_From @kimdhamilton on July 10, 2017 22:24_

Dependent on #27
- Represent DDO as a Verifiable Claim
- Claim signed by the same key as the Bitcoin transaction

_Copied from original issue: WebOfTrustInfo/btcr-hackathon#28_

[2017-08-12 02:19] kimdhamilton commented on #32
sent invite to @dlongley, who was the other proposed assignee

[2017-08-12 02:19] kimdhamilton commented on #32
Fragment 0 is not verifiable claim, but frag 1+ are. Latter proven by issuer or owner proofs

[2017-08-12 02:19] kimdhamilton commented on #32
Entity problem; we need to better communicate the entity problem

[2017-08-12 02:20] kimdhamilton opened #33 "Everyone: github DID"
_From @kimdhamilton on July 14, 2017 18:41_

Each of us should create a bitcoin testnet DID and a github DID where the commit is signed with our PGP key, so we can start creating some web of trust schemas and examples.

* [X] @ChristopherA did:btcr:xyv2-xzyq-qqm5-tyke

_Copied from original issue: WebOfTrustInfo/btcr-hackathon#42_

[2017-08-12 02:20] kimdhamilton commented on #33
_From @ChristopherA on July 14, 2017 22:51_

Here is a new, hopefully now valid DID txref, for my DID transaction, using the same private key used to sign that transaction, to self-sign a verified claim that my alternate name is "ChristopherA"

[code]

@dlongley @manu this was based on the playground text, but I think you shared elsewhere the default playground text is missing an issuer?

[2017-08-12 02:20] kimdhamilton commented on #33
signing playground

[2017-08-12 02:22] kimdhamilton opened #34 "Demo of DID:BTCR / DDO based on reasonable practices"
_From @ChristopherA on July 11, 2017 21:14_

Create a testnet-based DID pointing to a DDO, and document the "reasonable practices" DID scenario (i.e. secure but not truly pseudo-anonymous identity, see #20) for DID:BTCR.

_Copied from original issue: WebOfTrustInfo/btcr-hackathon#32_

[2017-08-12 02:22] kimdhamilton commented on #34
_From @ChristopherA on July 11, 2017 21:16_

I have a testnet based DID with a pointer to a DDO functioning.

You can see the transaction at https://live.blockcypher.com/btc-testnet/tx/f8cdaff3ebd9e862ed5885f8975489090595abe1470397f79780ead1c7528107/

The op_return points to a 69 character value:  https://raw.githubusercontent.com/ChristopherA/self/master/ddo.jsonld

From bitcoind here is the tran

[2017-08-12 02:22] kimdhamilton commented on #34
_From @ChristopherA on July 11, 2017 21:23_

I can't find a tool to generate a pubkey from a testnet encoded base58check private key (see #21), or to extract one from a signature (#9). I don't have a tool that will sign a JSON-LD properly with a testnet key yet (#21 ). It is unclear that this is a valid verifiable claim (#8 #28) nor how to append verifiable claims issues by this identity (#10).

B

[2017-08-12 02:22] kimdhamilton commented on #34
_From @ChristopherA on July 11, 2017 21:32_

Some notes on the "reasonable practices" scenario (see #20).

1. This is not a pseudo-anonymous DID,  I am a public figure.

2. As such this DID a potential source of trust for discovery of web-of-trust networks by both my peers and by attackers. I need to be careful and not reveal too much information about colleagues & peers without their explicit per

[2017-08-12 02:29] kimdhamilton opened #35 "Holds and Timelocks"
_From @ChristopherA on June 30, 2017 7:6_

Related to issue #5 it may be useful to have a "DID hold" op_return with a date, such that the DID is not considered revoked, but that it isn't valid yet. This way you can pre-publish a DID.

There also may be some useful tricks by adding to the P2PKH transaction a timelock.

_Copied from original issue: WebOfTrustInfo/btcr-hackathon#6_

[2017-08-12 02:29] kimdhamilton commented on #35
This issue was moved to WebOfTrustInfo/rebooting-the-web-of-trust-fall2017#19

[2017-08-12 02:30] kimdhamilton opened #36 "Need better name for what OP_RETURN is pointing to"
_From @kimdhamilton on July 14, 2017 18:30_

- continuation of DDO?
- next DDO record?
- extension DDO?

_Copied from original issue: WebOfTrustInfo/btcr-hackathon#40_

[2017-08-12 02:31] kimdhamilton opened #37 "Testnet DID creation tool"
_From @kimdhamilton on August 12, 2017 2:28_

Per discussion with @ChristopherA , create testnet DID creation tool in-browser (test only)

See source for https://brainwallet.io/, but revert back to previous commit. good feature set

_Copied from original issue: WebOfTrustInfo/btcr-hackathon#47_

[2017-08-12 02:35] kimdhamilton opened #38 "Email for results of BTCR Hackathon"
_From @kimdhamilton on July 14, 2017 18:37_

Due Monday

Send to:
- [ ] Verifiable Claim CG @kimdhamilton or @christophera
- [ ] Credentials CG @kimdhamilton or @christophera
- [ ] Blockcerts community @kimdhamilton
- [ ] Drummond forward to DIF group before their hackathon

_Copied from original issue: WebOfTrustInfo/btcr-hackathon#41_

[2017-08-12 02:37] kimdhamilton opened #39 "When storing the DDO on IPFS how to encode the corresponding hash in the OP_RETURN"
_From @PositronicBrain on July 13, 2017 10:49_

IPFS uses a base58 encoding for the hashes which points to documents, example: `QmeNm7hRTtLsYtQA1w8Tu9wHzu8ZfBFc4w59UMuAK3b2ar`, which has length 46 bytes. In order to save space in the OP_RETURN one would like to store the raw decoded bytestring.

The above address has decoded representation: `12 20 ee 45 65 85 70 89 4a 2f fe f3 fe 11 de b3 0a ac 08

[2017-08-12 02:37] kimdhamilton commented on #39
Document as well

[2017-08-12 02:37] kimdhamilton commented on #39
_From @ChristopherA on July 14, 2017 22:16_

I'm in favor of it being that our rule is that if it is a binary 256 bit value, presume that it is an IPFS hash and contruct it. It is the most decentralized and censorship resistance appraoch. If someone wants to refer to the other form, just make it a full URL. Both should work.

[2017-08-12 02:37] kimdhamilton commented on #39
this will be assigned to PositronicBrain when he joins org

[2017-08-12 02:40] kimdhamilton opened #40 "At close of Hackathon, evangelize results to continue dialog"
_From @ChristopherA on July 14, 2017 21:4_

To keep the dialog open about BTCR and the results of this hackathon, notify various communities and try to keep conversations going.

This should be the last issue closed in this repo.

* [ ] W3C Credentials CG Public List <public-credentials@w3.org>
* [ ] W3C Verifiable Claims WG Public List <Verifiable Claims Working Group <public-vc-wg@w3.org>
* [ ]

[2017-08-12 02:40] kimdhamilton commented on #40
_From @ChristopherA on July 14, 2017 21:6_

I submitted some early results about DIDs from the Hackathon to the W3C Credentials CG Public List <public-credentials@w3.org>  on subject "Initial insights on DID spec based on this week’s DID:BTCR Hackathon" https://lists.w3.org/Archives/Public/public-credentials/2017Jul/0018.html

[2017-08-12 02:41] kimdhamilton commented on #38
this is a dupe (subset) of #40

[2017-08-12 02:41] #38 closed

[2017-08-12 06:50] kimdhamilton opened #41 "Concerns about BTCR method"
From discussion with @msporny @ChristopherA and @kimdhamilton

Spec should be declarative: as long as you end up with X, doesn't matter how you construct it

The BTCR examples are doing 2 things, which Manu recommends separating.

1. proof of control
2. verifiable claims

For BTCR, why fragments?

- DDOs have almost nothing to do with VC, but can shove VCs into a DDO
- BTCR can build up a datastru

[2017-08-12 06:59] kimdhamilton opened #42 "Display of DDO if no OP_RETURN present"
_From @kimdhamilton on July 16, 2017 23:55_

What should happen if no OP_RETURN is present?

At the moment, this can happen in 2 cases:
- Intent was to create a DID with no continuations
- No intent of creating a DID with a transaction

This ends up with weird cases if the signer did not intend to create a BTCR did:
- if OP_RETURN is present in the tx, it is listed as a DDO continuation
- either w

[2017-08-12 06:59] kimdhamilton commented on #42
_From @ChristopherA on July 17, 2017 0:8_

If there is no op_return, but a verifiable claim points to it and is signed with the same key, the presumption is that it is a for DID/DDO pair, and you can only use the deterministic DDO (e.g fragement /0). This can still be revoked and rotated, however, it can't be rotated without the new transaction revealing an op_return (which can still be relatively

[2017-08-12 07:51] kimdhamilton commented on #31
moved:
- https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust-fall2017/blob/master/topics-and-advance-readings/btcr-dids-ddos.md
- https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust-fall2017/blob/master/topics-and-advance-readings/did-gentle-intro.md

[2017-08-12 07:51] #31 closed

[2017-08-16 01:27] kimdhamilton opened #43 "BTCR: control key schema?"
for the control keys in the Deterministic DDO we have items like this"

[code]

Melvin Carvalho mentioned the [provisional IANA prefix for bitcoin](https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml) -- would this be relevant here?

[2017-09-25 06:40] lwolberg opened #56 "Data Minimization and Selective Disclosure Plan US_Canada_Attendee_WITH_Topic_Paper_5641"
# Introduction

Data minimization and selective disclosure (D&S, DataMin, SelDis) are very cool applications of crypto to do magic tricks, such as proving a person is over 25 years old without revealing their birthday or even which credential vouched for the person.

These capabilities are needed for creating, storing, presenting, and verifying user-controlled credentials among other things: DataM

[2017-09-25 17:36] kimdhamilton commented on #56
added

[2017-09-25 17:36] #56 closed

[2017-12-24 06:34] lwolberg opened #104 "Typo: name is wolberger, not wolberg"
Please correct the first page, typo.
Typo: name is wolberger, not wolberg

[2018-01-11 20:19] shannona commented on #104
Apologies! Fixed!

[2018-01-11 20:19] #104 closed

[2018-05-22 06:32] aschrijver opened #109 "Activitypub append-only and content addressed storage"
Hi @cwebber ,

In your great article on ActivityPub you make mention of [Append-only and content addressed storage](https://github.com/WebOfTrustInfo/rebooting-the-web-of-trust-fall2017/blob/master/topics-and-advance-readings/activitypub-decentralized-distributed.md#append-only-systems-and-content-addressed-storage) as a topic for future papers.

I am very interested in this topic. Do you have any

[2018-07-14 21:13] twshelton opened #110 "Typo in final-documents/Amira.md"
I noticed a couple of typos in the Amira 1.0.0 document:
[code]
I have corrected them and also generated the odt and pdf files using pandoc.  If this is sufficient, I will submit a pull-request.  If I need to do something further, let me know.

[2018-09-11 13:11] nicksmd opened #112 "Where is authorizedRevokingParties stored?"
the **authorizedRevokingParties** is mentioned in the paper several times. Where is it stored to ensure that the revocation process is decentralized?

[2018-10-13 18:53] jandrieu commented on #112
@kimdhamilton This one is for you.

[2018-10-13 19:51] ChristopherA commented on #112
It depends on what kind of DID is used by the blockcert.

In the BTCR method for DIDs, if the unspent output (aka UTXO) of the destination address of the DID transaction is spent without use of a op_return output, the DID is considered to be revoked. This information is available on every bitcoin full-node in the world within a few minutes, and is confirmed in ~10 minutes. It is as decentralized a

[2018-10-14 17:59] kimdhamilton commented on #112
In this paper, @joaosantos15 and I presented a solution where the set of authorized revokers are flexible and use case dependent. The authorized revokers are stored in the contract, so this assumes that at issuance time (and revocation contract creation time) these individuals are known.

The intent for Blockcerts scenarios is that the issuer or recipient would be able to revoke that recipient's c